@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    border: 1px solid rgba(48, 45, 45, 0.5);
    padding: 4%;
    border-radius: 5px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .inner-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      margin-bottom: 6%;
      font-size: large;
    }
    .sigh-Name {
      margin: 0;
      margin-bottom: 14px;
      font-weight: 400 !important;
      font-size: 27px;
      font-family: "Roboto", sans-serif;
    }
    .use {
      margin: 0;
      margin-bottom: 22px;
      font-family: "Roboto", sans-serif;
    }
    .form-content {
      display: contents;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 16px;
    }
    .email {
      margin-bottom: 16px;
      display: flex;
    }
    .ancor-button {
      margin-right: 88px;
    }
    .link {
      text-transform: none!important;
      color:#1a73e8;
    }
    .link2 {
      text-transform: none !important;
      color:#1a73e8;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      margin-top: 5%;
      .next-btn {
        background-color: #1a73e8 !important;
        color: white;
      }
    }
  }
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-field {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  .pass {
    width: 100%;
  }
}
.MuiTextField-root {
  flex-grow: 1;
}
@media (max-width: 600px) {
  .login-container{
    justify-content: flex-start;
    align-items: flex-start;
    form{
    border: none;
    padding: 5% !important;
    width: 90%;
    }
  }
}